---
title: 'About | Brain Consulting & Development'
description: 'Meta description for the page'
preloadImg: '/assets/images/BW Sitting.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About</h1>
        <picture>
            <!-- Mobile Image -->
            <source media="(max-width: 600px)" srcset="/assets/images/image1.webp" type="image/webp">
            
            <!-- Larger Image for Bigger Screens (Optimized Format) -->
            <source media="(min-width: 601px)" srcset="/assets/images/image1.webp" type="image/webp">
            
            <!-- Fallback Image for Older Browsers -->
            <img aria-hidden="true" decoding="async" src="/assets/images/image1.jpeg" 
                 alt="kitchen cabinets" 
                 width="2500" height="1667"
                 loading="lazy">
        </picture>
        

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(min-width: 601px)" srcset="/assets/images/BW Sitting.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/BW Sitting.jpg" alt="portrait" loading="lazy" width="400" height="563">
                </picture>

            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">About Brain Consulting & Development</h2>
                <p class="cs-text">
                    Brain Consulting & Development delivers expert level knowledge of the bicycle industry and supply chain, working with suppliers spanning the globe, to optimize quality, manage costs, and reduce time to market. Deeply rooted in the bicycle industry, Brain can also create cross-functional teams of product managers, industrial designers, engineers as well as graphic designers.  With the ability to oversee the entire product development process, from conception to sourcing, from manufacturing to delivery, our goal is to ensure quality, innovation, and customer satisfaction every step of the way. 										

                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Brian Wilson</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

{% endblock %}